.search:hover {
    background: #7d5a29;
   color: white;
}
.animate_color{
    animation-name: color_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.advert_font_size {
    font-size: 2rem;
}
.card_most_popular_advert{
    height: 25rem;
    width: 100%;
}
.card_most_popular_advert_img{
    height: 50%;
    width: 100%;
    object-fit: contain;
}
@keyframes color_change {
    from { background-color: blue; }
    to { background-color: red; }
}
